html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #8ac0f7, #cad7f0);
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}